@media (min-width: 768px) {
    body {
        width: 80%;
        margin: auto;
        display :block; 
        padding-bottom: 20px; 

    } 
    #foto {
        height: 200px;
        width: auto;
        float: left;
        justify-content: left;
    }
}

header {
    align-items: center;
    padding-top: auto;
    padding-bottom: auto;
}

form {
    background-color: white;
}

footer {
background-color: black;           
}

#foto {
    height: 100px;
    width: auto;
    float: left;
    justify-content: center;
}

.video-responsive {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
}

.video-responsive iframe, .video-responsive object, .video-responsive embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
main {
    background-color: #ffda79;
    padding-left: 10px;
    padding-right: 10px;
}

.explica {
    background-color: white;
    font-family: 'Germania One', cursive; text-align:justify; 
    justify-content: center;
    align-items: center;
}

.copyr {
    font-family: 'Germania One', cursive; text-align:justify; 
    justify-content: center;
    align-items: center;
    color: gold;
}

.btn {
    font-family: 'Germania One', cursive; }
h1{
    font-family: 'Germania One', cursive;color : brown; text-align:center ; margin-top: auto; margin-bottom: auto; }
h2{
    font-family: 'Germania One', cursive;color: brown; text-align:center ;}
h3{
    font-family: 'Germania One', cursive;color: brown;      }
h4{
    font-family: 'Germania One', cursive;color: brown;}
h5{
    font-family: 'Germania One', cursive;color: brown;     }
p {
    font-family: 'Mate SC', serif;      }
li {
    font-family: 'Mate SC', serif;            }
.mb3 {
    font-family: 'Germania One', cursive;      }
